<footer class="bg-[#EFEFEF] text-center mx-auto text-surface/75 lg:text-left">
  <div
    class="flex items-center bg-[#02507d] justify-center border-b-2 border-neutral-200 p-6 dark:border-white/10 lg:justify-betwee mx-auto text-lg">
    <div class="me-12 hidden lg:block">
      <span class="text-white font-medium">Follow GMF on social media</span>
    </div>

    <div class="text-3xl md:text-xl flex justify-center space-x-6 md:space-x-5 text-white">
        <a href="https://www.facebook.com/gmfaa/" target="_blank" class="hover:text-gray-400">
            <i class="fab fa-square-facebook"></i>
        </a>
        <a href="https://www.instagram.com/gmfaeroasia/" target="_blank" class="hover:text-gray-400">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC5mNZ5CmUyYsfKZocJv5xag" target="_blank" class="hover:text-gray-400">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/company/gmf-aeroasia" target="_blank" class="hover:text-gray-400">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
  </div>

  <div class="mx-4 md:mx-28 py-10 text-[#02507D] text-left md:mx- sm:mx-1">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">

      <div>
        <img src="../../assets/gmf-doa-logo-2.png" class="h-auto">
      </div>

      <div>
        <h6
          class="mb-4 flex justify-start font-semibold uppercase">
          Office Address
        </h6>
        <p class="mb-4">
            Hanggar 3 GMF Aeroasia RT.001/RW.010, Pajang,
            <br>Kec. Benda, Kota Tangerang, Banten 15126
        </p>
        <p class="mb-4">
      </div>

        <div>
            <h6
                class="mb-4 flex justify-start font-semibold uppercase">
                Department Organization Approval
            </h6>
            <p class="mb-4 flex items-center justify-start">
                P: +62 21 5508601
            </p>
            <p class="mb-4 flex items-center justify-start">
                E: GMFDO-CS&#64;gmf-aeroasia.co.id
            </p>
        </div>

      <div>
        <h6
          class="mb-4 flex justify-start font-semibold uppercase">
          Important links
        </h6>
        <p class="mb-4">
          <a href="https://imsis-djpu.dephub.go.id/PortalDKPPU/" target="_blank" class="hover:underline">DGCA</a>
        </p>
        <p class="mb-4">
          <a href="https://www.easa.europa.eu/en/regulations" target="_blank" class="hover:underline">EASA</a>
        </p>
        <p class="mb-4">
          <a href="https://www.gmf-aeroasia.co.id/engineering-services-id" target="_blank" class="hover:underline">About us</a>
        </p>
        <p class="mb-4">
          <a href="https://www.gmf-aeroasia.co.id/privacy/policy" target="_blank" class="hover:underline">Privacy policy</a>
        </p>
      </div>
    </div>
  </div>

    <div class="bg-[#02507d] p-6 text-center text-white">
    <span>COPYRIGHT © 2023 </span>
    <a class="font-medium hover:underline" href="https://www.gmf-aeroasia.co.id/engineering-services-id"
        >PT GMF AEROASIA TBK</a
        >. ALL RIGHTS RESERVED.
    </div>
</footer>
