<app-navbar></app-navbar>
<div class="min-h-screen flex flex-col items-center justify-center mt-16 px-0">
  <div class="w-full mx-auto p-0 bg-white shadow-md rounded-lg text-center"> 
        <!-- carousel -->
          <div class="carousel relative w-full h-screen overflow-hidden">
            <div class="carousel-item active absolute inset-0 transition-opacity duration-1000">
              <!-- image content 1 -->
              <img src="..\..\assets\Userguide\Home\hanggar4.jpg" alt="Slide 1" class="carousel-image w-full h-full object-cover">
              <div class="carousel-caption absolute bottom-0 left-0 p-8 bg-opacity-75 bg-green-700 text-white flex flex-col items-start">
                <h2 class="text-4xl mb-4 font-bold">Welcome to GMF Design Organization Approval</h2>
                <p class="mb-4 text-bold">GMF Won the Adhikara Rekayasa for the "Engineering, Procurement, & Construction" category in the "2021 Indonesian Engineers Association Award"</p>
                <a href="https://www.gmf-aeroasia.co.id/penghargaan" class="text-white underline">Read More</a>
              </div>
            </div>
            <!-- image content 2 -->
            <div class="carousel-item absolute inset-0 transition-opacity duration-1000 opacity-0">
              <img src="..\..\assets\Userguide\Home\plane5.jpg" alt="Slide 2" class="carousel-image w-full h-full object-cover">
              <div class="carousel-caption absolute bottom-0 left-0 p-8 bg-opacity-75 bg-green-700 text-white flex flex-col items-start">
                <h2 class="text-4xl mb-4 font-bold">Welcome to GMF Design Organization Approval</h2>
                <p class="mb-4 text-bold">GMF Won Global Indicator: The Best International Collaboration for Branding & Marketing BUMN (Tbk.). BUMN Track Branding & Marketing Award 2019</p>
                <a href="https://www.gmf-aeroasia.co.id/penghargaan" class="text-white underline">Read More</a>
              </div>
            </div>
            <!-- image content 3 -->
            <div class="carousel-item absolute inset-0 transition-opacity duration-1000 opacity-0">
              <img src="..\..\assets\Userguide\Home\plane4.jpg" alt="Slide 3" class="carousel-image w-full h-full object-cover">
              <div class="carousel-caption absolute bottom-0 left-0 p-8 bg-opacity-75 bg-green-700 text-white flex flex-col items-start">
                <h2 class="text-4xl mb-4 font-bold">Welcome to GMF Design Organization Approval</h2>
                <p class="mb-4 text-bold">GMF Won Asia MRO - Airframe of The Year, Aviation Week Network Award in 2020</p>
                <a href="https://www.gmf-aeroasia.co.id/penghargaan" class="text-white underline">Read More</a>
              </div>
            </div>
            <!-- image content 4 -->
            <div class="carousel-item absolute inset-0 transition-opacity duration-1000 opacity-0">
              <img src="..\..\assets\Userguide\Home\plane6.jpg" alt="Slide 4" class="carousel-image w-full h-full object-cover">
              <div class="carousel-caption absolute bottom-0 left-0 p-8 bg-opacity-75 bg-green-700 text-white flex flex-col items-start">
                <h2 class="text-4xl mb-4 font-bold">Welcome to GMF Design Organization Approval</h2>
                <p class="mb-4 text-bold">GMF Won The Best Brand Strategy in Corporate Branding. BUMN Track Branding & Marketing Award 2019, BUMN Track</p>
                <a href="https://www.gmf-aeroasia.co.id/penghargaan" class="text-white underline">Read More</a>
              </div>
            </div>
          </div>

            <!-------------- important news --------------- -->
          <div class="bg-green-600 p-8">
            <!-- <h1 class="text-white text-4xl font-bold mb-6">Important News</h1> -->
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
              <!-- news 1 -->
              <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                <img src="..\..\assets\Userguide\Home\gmfcomplitedDGCA.png" alt="Image 1" class="w-full h-72 object-cover">
                <div class="p-6">
                  
                  <h2 class="text-xl font-bold my-4">GMF and Citilink Completed the Recommendations from DGCA</h2>
                  <p class="text-gray-700 mb-4">GMF and Citilink Indonesia ensure that all recommendations from the Directorate General of Civil Aviation ("DGCA") c.q. DKPPU) delivered in a letter released on December 22 has been completed.</p>
                  <p class="text-gray-500 text-sm">Tangerang, 31 Desember 2021</p>
                  <br><a href="https://www.gmf-aeroasia.co.id/press-release-31-dec-21" class="bg-blue-600 text-white px-4 py-2 rounded text-sm inline-block hover:bg-blue-700 transition duration-300">Read More</a>
                </div>
              </div>
              <!-- news 2 -->
              <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                <img src="..\..\assets\Userguide\Home\gmfnews2.png" alt="Image 2" class="w-full h-72 object-cover">
                <div class="p-6">
                  <h2 class="text-xl font-bold my-4">GMF Recorded Improvement at the End of the Third Quarter</h2>
                  <p class="text-gray-700 mb-4">GMF managed to record significant improvements in profitability in 3Q21 amid the challenging aviation industry due to the enactment of restrictions on community activities (PPKM) in a number of regions.</p>
                  <p class="text-gray-500 text-sm">Tangerang, 23 Desember 2021</p>
                 <br><a href="https://www.gmf-aeroasia.co.id/press-release-23-dec-21-en" class="bg-blue-600 text-white px-4 py-2 rounded text-sm inline-block hover:bg-blue-700 transition duration-300">Read More</a>
                 </div>
              </div>
              <!-- news 3 -->
              <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                <img src="..\..\assets\Userguide\Home\gmfnews1.png" alt="Image 3" class="w-full h-72 object-cover">
                <div class="p-6">
                  <h2 class="text-xl font-bold my-4">Designing SmartDock, GMF Won Innovation</h2>
                  <p class="text-gray-700 mb-4">PT Garuda Maintenance Facility Aero Asia Tbk won the Adhikara Rekayasa for the "Engineering, Procurement, & Construction" category in the "2021 Indonesian Engineers Association Award" (2021 PII Award) on Friday (17/12).</p>
                  <p class="text-gray-500 text-sm">Tangerang, 21 Desember 2021</p>
                  <br><a href="https://www.gmf-aeroasia.co.id/press-release-21-dec-21-en" class="bg-blue-600 text-white px-4 py-2 rounded text-sm inline-block hover:bg-blue-700 transition duration-300">Read More</a>
                   </div>
              </div>
              <!-- news 4 -->
              <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                <img src="..\..\assets\Userguide\Home\gmfnews4.jpg" alt="Image 3" class="w-full h-72 object-cover">
                <div class="p-6">
                  <h2 class="text-xl font-bold my-4">Record Significant Financials, GMFI Continues to Boost Profitability</h2>
                  <p class="text-gray-700 mb-4">PT Garuda Maintenance Facility Aero Asia Tbk (“GMFI”, Issuer code: “GMFI”) held its Annual General Meeting of Shareholders for the fiscal year 2023 and Rapat Umum Pemegang Saham Luar Biasa (RUPS)</p>
                  <p class="text-gray-500 text-sm">Tangerang, 28 Juni 2021</p>
                  <br><a href="https://www.gmf-aeroasia.co.id/press-release-28-june-2024-in" class="bg-blue-600 text-white px-4 py-2 rounded text-sm inline-block hover:bg-blue-700 transition duration-300">Read More</a>
                </div>
              </div>
            </div>
          </div>

             <!--scroll automatic item -->
            <div class="static-container">
              <div class="content-center">
                 <!--Content for Item 1  -->
                <div class="item"> 
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/n8SfoIPDkZc?si=jstvu7-Hd9PYmzvh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <!-- Content for Item 2 -->
                <div class="item">  
                  <div class="item"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gYvZOaXmMRw?si=AKeUGI64h95G048c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  </div>
                </div>  
                <!-- Content for Item 3 -->
                <div class="item">  
                  <div class="item"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NnJa5M90hqc?si=Ri4X_iq3DHp2Msho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/?si=AKeUGI64h95G048c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                  </div>
                </div>  
                <!-- <div class="item"> -->

                  <!-- Stock Widget from TradingView -->
                  <!-- <div class="tradingview-widget-container">
                    <div id="tradingview-stock-widget"></div>
                  </div>
                </div> -->
                <!-- More items as needed -->
              </div>
            </div>        
      <!-- <h1 class="text-2xl font-bold mb-4">Under Maintenance</h1>
      <p class="text-gray-600">This project is still in working development.</p> -->
    </div>
</div>  
<app-footer></app-footer>
